@font-face {
  font-family: "HelveticaNeueGEO";
  src: url("../fonts/HELVETICANEUELTGEO-45LIGHTS.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueGEO";
  src: url("../fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "HelveticaNeueGEO", sans-serif;
}
header {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding: 27px 16px;
  margin: 0 auto;
  width: 100%;
  background-color: #0020f4;
}

ul a {
  text-decoration: none;
  color: #ffffff;
}
ul li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  margin-right: 40px;
  font-weight: 300;
}

button {
  color: #171717;
  background-color: #ffffff;
  padding: 18px 43px 18px 36px;
  font-size: 16px;
  border: none;
  border-radius: 28px;
  text-transform: uppercase;
  font-weight: 300;
}
.main-section {
  background-color: #0020f4;
}
.images-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  margin-bottom: 49px;
}
.images-container img {
  width: 45%;
  height: auto;
  border-radius: 15px;
  margin-top: 215px;
}
.img-1 {
  max-width: 707px;
  max-height: 597px;
}

.img-2 {
  max-width: 948px;
  max-height: 800px;
}
.dots-container,
.second {
  display: flex;
  justify-content: flex-start;
}
.dots-container div {
  margin-right: 20px;
}
.second div {
  margin-right: 20px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.light {
  opacity: 30%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 707px;
  margin: 0 auto;
  padding-bottom: 65px;
}

.container {
  max-width: 1307px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
.about-section,
.services-section {
  padding-top: 180px;
}
.text-div {
  max-width: 463px;
  width: 100%;
  display: inline-block;
}
h1 {
  font-size: 32px;
}
.about-container {
  display: flex;
  gap: 137px;
  padding-bottom: 214px;
}
.about-container p {
  font-size: 16px;
  color: #171717;
}
.first-p {
  margin-top: 60px;
  margin-bottom: 22px;
}
.about-container img {
  max-width: 707px;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.services-section img {
  max-width: 707px;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.services-container {
  display: flex;
  gap: 138px;
  padding-bottom: 394px;
}
